@import "tailwindcss";

/* arrows */
.slick-prev, .slick-next {
  background-color: rgb(113, 14, 14);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 10;
}

.slick-prev:before, .slick-next:before {
    background-color: red;
    font-size: 20rem;
  color: #833838; /* change arrow color */
  font-size: 20px;
}


